/* You can add global styles to this file, and also import other style files */

/* Global SweetAlert Custom Theme */

.my-swal-popup {
  border-radius: 18px !important;
  padding: 25px !important;
  background: #ffffff !important;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.12) !important;
}

.my-swal-title {
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #222 !important;
}

.my-swal-button {
  background: linear-gradient(135deg, #6a00ff, #8c2bff) !important;
  color: #fff !important;
  border-radius: 10px !important;
  padding: 10px 25px !important;
  font-weight: 600 !important;
  border: none !important;
}

.swal2-icon.swal2-success {
  border-color: #6a00ff !important;
  color: #6a00ff !important;
}

.swal2-icon.swal2-error {
  border-color: #ff0033 !important;
  color: #ff0033 !important;
}

.swal2-icon.swal2-warning {
  border-color: #ff9900 !important;
  color: #ff9900 !important;
}
/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}
.ngx-spinner-overlay {
  z-index: 99999 !important;
}