.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #000428, #004e92);
  font-family: 'Poppins', sans-serif;
}

.register-card {
  width: 100%;
  max-width: 480px;
  padding: 30px 25px;
  border-radius: 16px;
  background: #ffffff;
  animation: fadeIn 0.6s ease-in-out;
  box-shadow: 0 10px 28px rgba(0,0,0,0.25);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.user-icon {
  font-size: 3rem;
  color: #0078ff;
  margin-bottom: 10px;
}

.label {
  margin-left: 60px!important;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 0.95rem;
}

.input-text {
  margin-left: 50px!important;
  margin-top: 12px!important;
  justify-content: center;
  padding-left: 50px !important;
  height: 45px;
}

.p-input-icon-left > i {
  left: 12px;
  font-size: 1rem;
  color: #0078ff;
}

.submit-btn {
  background: #0078ff !important;
  border: none !important;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #005fcc !important;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: #0078ff;
  font-weight: 600;
}

.login-text a:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Mobile Responsive */
@media (max-width: 480px) {
  .register-card {
    padding: 1.4rem;
  }
}
