<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<div class="register-container">
  <p-card class="register-card">

    <!-- Header -->
    <div class="form-header">
      <h2>Create Your Account</h2>
      <p>Join us and explore the latest trends in fashion!</p>
    </div>

    <!-- Form -->
    <form [formGroup]="registerForm" class="form-body">

      <!-- Full Name -->
      <div class="p-field">
        <input pInputText formControlName="name" class="input-text" placeholder="Full Name" required/>
      </div>

      <!-- Email -->
      <div class="p-field">
        <input pInputText formControlName="email" class="input-text" placeholder="Email" required/>
      </div>

      <!-- Password -->
      <div class="p-field">
  <p-password type="password" name="password"
              placeholder="Password"
              [toggleMask]="false"
              [feedback]="false"
              inputStyleClass="input-text"
              required>
  </p-password>
</div>

      <!-- Submit -->
      <button pButton type="submit" (click)="onSubmit()" label="Register" 
              class="p-button-rounded p-button-lg w-full submit-btn"
              ></button>
    </form>

    <!-- Login Link -->
    <p class="login-text">
      Already have an account?  
      <a routerLink="/login">Login here</a>
    </p>

  </p-card>
</div>
